<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUFINA | Joyeria & Accesorios</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
</head>
<body>
    <header>
        <div id="menu">
            <div>
                <a href="../index.html"><img class="boton_inicio" src="../imagen/logos/Rufina(1).png" alt=""></a>
            </div>
            <div class="desplegable">
                <button class="boton">JOYAS</button>
                <div class="contenido_desplegable">
                    <hr>
                    <a href="anillos.html"> - ANILLOS</a>
                    <a href="collar.html"> - COLLARES</a>
                    <a href="pendientes.html">- PENDIENTES</a>
                    <a href="pulseras.html">- PULSERAS</a>
                    <hr>
                </div>
            </div>
            <div class="desplegable">
                <button class="boton">ACCESORIOS</button>
                <div class="contenido_desplegable">
                    <hr>
                    <a href="carteras.html">- CARTERAS</a>
                    <a href="cinturones.html">- CINTURONES</a>
                    <a href="pañuelo.html">- PAÑUELOS</a>
                    <a href="relojes.html">- RELOJES</a>
                    <hr>
                </div>
            </div>
            <div class="desplegable">
                <button class="boton">PRESUPUESTO</button>
                <div class="contenido_desplegable">
                    <hr>
                    <a href="presupuesto.html">- COMUNICATE CONMIGO</a>
                    <a href="contacto.html">- ENCUENTRANOS AQUI!</a>
                    <hr>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Imagenes de productos con dinamismo en Javascript (al hacer click en la imagen se apliara para mejor visualizacion del producto) -->
        <div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendiente_arogrueso2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendiente_arogrueso2.jpg" onclick="openFullImg(this.src)" alt="">
                <div class="caja_info">
                    <p>
                        Pendientes Aro<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendiente_aros2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendiente_aros2.jpg"  onclick="openFullImg(this.src)" alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Aro Rugoso<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendiente_estrella2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendiente_estrella2.jpg" onclick="openFullImg(this.src)" alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Estrella<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendiente_rayo2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendiente_rayo2.jpg" onclick="openFullImg(this.src)"  alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Rayo<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendiente_redondo2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendiente_redondo2.jpg" onclick="openFullImg(this.src)" alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Redondo<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendientes_doscirculos2.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendientes_doscirculos2.jpg" onclick="openFullImg(this.src)" alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Doble<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendientes_flor2.jpg"  class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendientes_flor2.jpg"  onclick="openFullImg(this.src)"  alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Flor<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
            <div class="ful_img fulImgBox" >
                <img  src="../imagen/pendientes/pendientes_largo.jpg" class="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <div class="caja_imagen">
                <img class="imagen_grande" src="../imagen/pendientes/pendientes_largo.jpg" onclick="openFullImg(this.src)"  alt="">
                <div class="caja_info">
                    <p>
                        Pendiente Largo<br>
                        Plata de Ley 925 <br>
                        1500€
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="cajita1">
            <div class="caja_legal"> 
                <p><b>Nuestra principal tienda la encontras</b> : <br>Fuengirola, Hernan Cortes 33 </p> <br>
                <p><b>Atencion al Cliente </b><br> L-V: 10:00h- 14:00h <br> 613089345</p>  
            </div>
           <div class="redes">
                <p><b>Redes Sociales</b></p>
                <a href="https://www.google.com/intl/es/gmail/about/"><img class="logo" src="../imagen/logos/correo.png" alt="logo correo"></a>
                <a href="https://www.instagram.com/"><img class="logo" src="../imagen/logos/instagram.png" alt="logo instagram"></a>
                <a href="https://www.whatsapp.com/?lang=es_LA"><img class="logo" src="../imagen/logos/whatsapp.png" alt="logo contacto"></a> 
            </div> 
            <div class="aviso">
                <p><b>Políticas</b></p>
                <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Aviso Legal</a> <!--este enlace es un ejempo ya que en la propesta no especifica que aviso legal tenemos que usar-->
                <p>© Rufina 2023</p>
            </div>
        </div>
    </footer>
<script src="../js/java.js"></script>
</body>
</html>
